<h1>Signup</h1>
<form method="POST" action="/user">
  <input type="email" name="email"placeholder="Entrez un mail">
  <input type="text" name="nom" value=""placeholder="Entrez un nom">
  <input type="text" name="prenom" value=""placeholder="Entrez un prenom">
  <input type="text" name="pseudo" value=""placeholder="Entrez un pseudo">
  <input type="password" name="password" value=""placeholder="Entrez un mot de passe">

  <input type="submit" value="submit">

</form>

