<h1>Signup</h1>
<form method="POST" action="/user">
  <input type="email" name="email">
  <input type="text" name="nom" value="">
  <input type="text" name="prenom" value="">
  <input type="text" name="pseudo" value="">
  <input type="submit" value="submit">

</form>

